<ul class="questions-overview">
	<% @questions.each do |question| %>
		<li>
			<span>
				Door: <%# question.user.name %>
			</span>
				<%= link_to question.title, question %>
			<span>
				<%= question.answers.count %> antwoorden
			</span>
		</li>
	<% end %>
</ul>