<ul class="questions-overview">
	<% @questions.each do |question| %>
		<li>
				<%= link_to question.title, question %>
			<span>
				<%= current_user.email %> 
				<% if question.answers.count < 1 %>
					<span class="red">
				<% else %>
					<span class="green">
				<% end %>

				<%= question.answers.count %> antwoorden
				</span>
			</span>
		</li>
	<% end %>
</ul>