<p><%= link_to "Vragen & Antwoorden", questions_path %></p>
<p><%= link_to "Afspraken", appointments_path %></p>
<p><%= link_to "Agendas", agendas_path %></p>
<p><%= link_to "Toetsen", tests_path %></p>