
/* basicColors */
$basicColor: #F1F1F2;

$bgGray: #626366;
$bgDarkGray: #626366;

$textColor: #333;
$textBlank: #333;

$fontFamily: Arial, Helvetica, sans-serif;

$spacing: 30px;

$red: #EF4444;
$green: #5EC2A5;

.clearfix:after {
	clear: both;
	content: '';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}


/* Framework */

ul {
	margin: 0;
	padding: 0;
}

body {
	background: $bgGray;
	color: $textColor;
	font-family: $fontFamily;
	margin: 0;
	font-size: 14px;
	padding: $spacing/2;
}

.content {
	margin: $spacing/2 0;
	//border-top: 1px solid $basicColor; 
	overflow: hidden;
}

/* Header */

header {
	position: relative;
	padding: 5px;
	background: $bgDarkGray;
}

.logo {
	text-indent: -10000px;
	background: url(logo.png);
	width: 158px;
	height: 46px;
	margin: 0 auto;
}

.menu-btn {
	width: $spacing;
	height: 21px;
	float: right;
	position: relative;
	margin-top: -26px;
	span {
		display: block;
		width: 100%;
		height: 4px;
		background: $basicColor;
		position: absolute;
		//border-radius: 5px;
		&:first-child {
			top: 0;
		}
		&:nth-child(2) {
			top: 50%;
			margin-top: -2.5px;
		}
		&:last-child {
			bottom: 0;
		}
	}
}

.back {
	  width: 45px;
  height: 45px;
  border: 1px solid #000;
  text-indent: -1000px;
  display: block;
  position: relative;
  float: left;
  margin-left: -4px;
  margin-top: -48px;
  opacity: 0.4;
	&:before {
		content: '';
		background: url(arrow.png);
		display: block;
		width: 20px;
 		height: 37px;
  		top: 5px;
  		left: 12px;
	  	position: absolute;
	}
	a {
		display: block;
		height: 100%;
		position: relative;
		z-index: 1;
	}
}

.nav {
	height: $spacing;
	width: 100%;
	//border: 1px solid $basicColor;
	//border-radius: 4px; 
	//overflow: hidden;
	margin: 0 auto;
	li {
		width: 50%;
		float: left;
		list-style: none;
		position: relative;
		a {
			//background: $basicColor;
			color: #fff;
		}
		&:first-child {
			a {
				background: $red;
			}
			&.active {
				&:after {
					border-top: 8px solid $red;				
				}
			}			
		}
		&:after {
			content: '';
			position: absolute;
			display: block;
			top: 100%;
			left: 50%;
			margin-left: -2.5px;
			width: 0; 
			height: 0; 
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
		}
		&:last-child {
			a {
				background: $green;
			}
			&.active {
				&:after {
					border-top: 8px solid $green;
				}
			}
		}
	}
	a {
		display: block;
		width: 100%;
		padding: 7px 0;
		//text-transform: uppercase;
		text-align: center;
		color: $textColor;
		text-decoration: none;
		//letter-spacing: -1px;
	}
}

/* Questions overview */

.questions-overview {
	li {
		margin-bottom: $spacing/2;
		background: $basicColor;
		//text-transform: uppercase;
		position: relative;
		height: 70px;
		//box-shadow: 1px 3px 10px rgba(0,0,0,0.8);
		//border-radius: 4px;

		span {
			font-size: 12px;
			//display: block;
			//padding: $spacing/2;
			color: $textColor;
			top: 37px;
			left: $spacing/2;
			width: 100%;
			position: relative;
			//float: left;
			span {
				right: 0;
				//position: absolute;
				text-align: right;
				top: 0;
				&.red {
					color: $red;
				}
				&.green {
					color: $green;
				}
			}
		}
		a {
			text-decoration: none;
			display: block;
			width: 100%;
			position: absolute;
			text-indent: 15px;
			top: 0;
			padding-top: 15px;
			height: 60px;
			z-index: 1;
			color: $textColor;
		}
	}
}

/* question */

.question {
	//height: auto;
	background: $basicColor;
	//margin: $spacing/2;
	padding: $spacing/2;
	span {
		font-size: 12px;
		color: $textColor;
		&:first-child {
			//text-transform: uppercase;
		}
		&:last-child {
			font-style: italic;
		}
	} 
	h2 {
		padding-top: 3px;
		//color: #333;
		//text-transform: uppercase;
		font-size: 14px;
		margin: 0 0 $spacing/4;
	}
	p {
		margin: $spacing/4 0 0;
	}
}

/* Asnwers */
//
.answer-form {
	background: $bgDarkGray;
	//margin: $spacing/2 0;
	//padding: $spacing/2 $spacing/2 $spacing/2 82px;
}

textarea {
	width: 100%;
	border: none;
	min-height: 100px;
	//box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
	font-size: 12px;
}

.btn {
	color: $textColor;
	padding: 10px $spacing;
	width: 100%;
	background: $basicColor;
	text-decoration: none;
	float: right;
	font-size: 16px;
	text-transform: uppercase;
	border: none;
	margin: $spacing/2 0;
	transition: 0.3s;
	//box-shadow: 1px 3px 10px rgba(0,0,0,0.8);
	margin-right: -3px;
}

.answers {
	margin-bottom: $spacing;
	li {
		padding: $spacing/2;
		background: $basicColor;
		margin: $spacing/2 0 0 0;
		width: 75%;
		list-style: none;
		&.odd {
			float: left;
		}
		&.even {
			float: right;
		}
		span {
			display: block;
			font-size: 12px;
			padding-bottom: 5px;
		}

	}
}

/* Notifcations */

.notice {
	position: absolute;
	top: 0;
	margin: 0 auto;
	left: 0;
	right: 0;
	width: 50%;
  padding: 14px;
  text-align: center;
  background: $basicColor;
  color: $textBlank;
  text-transform: uppercase;
  font-size: 12px;
}


/* Add Question, ask */

.ask {
	h2 {
		font-size: 16px;
		text-transform: uppercase;
		padding-left: $spacing/2;
	}
	input[type="text"] {
		width: 100%;
		margin-bottom: $spacing/2;
		border: none;
		padding: 5px 2px;
		font-size: 12px;
		//box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
	}
}




































